/* style.css */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #644F25;
  background-image: url('https://i.ibb.co/wb3ybBV/C-pia-de-brand.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5vh 5vw;
  gap: 3vw;
  flex-wrap: wrap;
}

.video-wrapper {
  flex: 1 1 33%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.texto {
  flex: 1 1 60%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titulo {
  font-family: 'Ballet', cursive;
  font-size: 4.5em;
  color: #A47A29;
  margin: 0;
}

.arabesco-linha {
  width: 150px;
  margin: 10px 0;
}

.subtitulo {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 2em;
  letter-spacing: 0.5em;
  color: #644F25;
  font-weight: 400;
  margin-bottom: 30px;
}

.convite-texto {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 40px;
}

.form-box {
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

.radio-wrapper {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
}

button {
  background-color: #A47A29;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #866122;
}

.arabesco-superior {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  z-index: 1;
}

.arabesco-inferior {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  z-index: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .titulo {
    font-size: 3.2em;
    text-align: center;
  }

  .subtitulo {
    text-align: center;
    font-size: 1.8em;
  }

  .video-wrapper {
    width: 100%;
    order: 2;
  }

  video {
    width: 100%;
  }

  .texto {
    order: 1;
    align-items: center;
    text-align: center;
  }

  .convite-texto, .form-box {
    text-align: left;
  }
}
